extends ./layout.jade

block content
   .jumbotron
      .carousel.slide(data-ride="carousel")
         .carousel-inner
            .item.active
               img.img-responsive(src="#{jumbosrc}" alt="#{jumboalt}")
               .carousel-caption
                  h1.lead #{leadtext}
                  p.lead #{leadpara}
   .container#top
      .row
         nav.col-sm-3
            #sidebar
               h2#number one
               .forms
               ul.nav.nav-stacked#sidenav
                  li
                     a#one(href="#one") #{onetitle}
                  li
                     a#two(href="#two") #{twotitle}
                  li
                     a#three(href="#three") #{threetitle}
                  li
                     a#final(href="#final") #{finaltitle}
                  
         a.anchor#one
         .col-sm-5
            a(href="#")
               img.img-responsive(src="#{onesrc}" alt="#{onealt}")
         .col-sm-3
            h3 #{onetitle}
            p #{onepara}
      .row.top-buffer
         a.anchor#two
         .col-sm-5.col-sm-offset-3
            a(href="#")
               img.img-responsive(src="#{twosrc}" alt="#{twoalt}")
         .col-sm-3
            h3 #{twotitle}
            p #{twopara}
                   
