extends ./layout.jade

block content
   .jumbotron
      .carousel.slide(data-ride="carousel")
         .carousel-inner
            .item.active
               img.img-responsive.make-full(src="#{jumbosrc}" alt="#{jumboalt}")
               .carousel-caption.case-study-caption
                  h1.lead #{leadtext}
                  p.lead #{leadpara}
                  p Tools used: #{toolsused}
   .container#top
      .row
         nav.col-sm-3
            #sidebar
               h2 #{leadtext}
               .forms
               ul.nav.nav-stacked#sidenav
                  li
                     a(href="#one") #{onetitle}
                  li
                     a(href="#two") #{twotitle}
                  li
                     a(href="#three") #{threetitle}
                  li
                     a(href="#final") #{finaltitle}
                  
         a.anchor#one
         .col-sm-5
            a(href="#{onesrc}")
               img.img-responsive(src="#{onesrc}" alt="#{onealt}")
         .col-sm-3
            h3 #{onetitle}
            p #{onepara}
      .row.top-buffer
         a.anchor#two
         .col-sm-5.col-sm-offset-3
            a(href="#{twosrc}")
               img.img-responsive(src="#{twosrc}" alt="#{twoalt}")
         .col-sm-3
            h3 #{twotitle}
            p #{twopara}
      .row.top-buffer
         a.anchor#three
         .col-sm-4.col-sm-offset-4
            a(href="#{threesrc}")
               img.img-responsive(src="#{threesrc}" alt="#{threealt}")
         .col-sm-3
            h3 #{threetitle}
            p #{threepara}
      .row.final.top-buffer.bottom-buffer
        .row.top-buffer
           a.anchor#final
           .col-sm-8.col-sm-offset-3
              a(href="#{finalsrc}")
                 img.img-responsive(src="#{finalsrc}" alt="#{finalalt}")
        .row
          .col-sm-5.col-sm-offset-3
              h3 #{finaltitle}
              p !{finalpara}
   script(type="text/javascript" src="/static/js/main.js")
                   
