extends ./layout.jade

block content
  .jumbotron
    .carousel.slide(data-ride="carousel")
      .carousel-inner
        .item.active
          img.img-responsive(src="/static/images/me.JPG" alt="It's me, Mitch Lillie.")
          .carousel-caption
            h1.lead I'm Mitch Lillie. 
            button.btn-lg.btn-primary(data-toggle="modal" data-target="#textModal") Hire me!
  .container#top
    .row
      a.anchor#casestudies
      nav.col-sm-3
        #sidebar
          h2 Case studies
          .forms
          ul.nav.nav-stacked#sidenav
            each val in cs
              li <a href="##{val.number}">#{val.leadtext}</a>
      each val, index in cs
        if index === 0
          a.anchor(id = "#{val.number}")
            .col-sm-5
              a(href="#{val.jumbosrc}")
                img.img-responsive(src="#{val.jumbosrc}")
            .col-sm-3
              h3 #{val.leadtext}
              p #{val.leadpara} 
              p.text-muted #{val.toolsused}
              form(action="/casestudies/#{val.leadtext}")
                button.btn.btn-info(type='submit' value='View Case Study') View Case Study 
                  span.glyphicon.glyphicon-chevron-right
    each val, index in cs
      if index > 0
        .row.top-buffer
          a.anchor(id = "#{val.number}")
            .col-sm-5.col-sm-offset-3
              a(href="#{val.jumbosrc}")
                img.img-responsive(src="#{val.jumbosrc}")
            .col-sm-3
              h3 #{val.leadtext}
              p #{val.leadpara} 
              p.text-muted #{val.toolsused}
              form(action="/casestudies/#{val.leadtext}")
                button.btn.btn-info(type='submit' value='View Case Study') View Case Study 
                  span.glyphicon.glyphicon-chevron-right
                
